    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
          <a class="navbar-brand" <%= link_to 'Address Book', root_path%>>Address Book</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" <%= link_to 'Person', people_path %>>Home</a>
              </li>
               <li class="nav-item">
                <a class="nav-link active" aria-current="page" <%= link_to 'Address', addresses_path %>>Home</a>
              </li>
               <li class="nav-item">
                <a class="nav-link active" aria-current="page" <%= link_to 'Email', emails_path %>>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"  <%= link_to 'Phone', phone_numbers_path %>>Home</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-md-0">
                <% if current_user %>
                    <%= link_to current_user.email, user_path(current_user) %>
                    <a class="nav-link active" aria-current="page" <%= link_to 'Logout', logout_path %>>Home</a>
                 <% else %>
                    <a class="nav-link active" aria-current="page" <%= link_to 'Login', login_path %>>Home</a>
                    <a class="nav-link active" aria-current="page" <%= link_to 'Sign Up', signup_path %>>Home</a>
                <% end %>
            </ul>
          </div>
       </div>
    </nav>

    <body>
        <div class="container-fluid">
          <h4>Must be Logged into your account to view your Address Book Details Above.</h4>
          <h6>Steps: <br />
          1. Create a Person <br />
          2. Copy Person ID from Person table <br />
          3. Add Corresponding Details to the Created Person.<br />
          4. Must use Person ID to connect the corresponding Person to their Address,Email, & Phone.</h6>
        </div>

        <div>
    <h2><%= @user.email %>'s Address Book</h2>
  

    <%= link_to("Add New Person", new_person_path, class: 'action new')%>
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Person ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <% @people.each do |person| %>
            <tbody>
                <tr>
                
                <th scope="row"><%= person.id%></th>
                <td><%= person.first_name %></td>
                <td><%= person.last_name%></td>
                <td><%= person.dob%></td>
                <td><%= person.comment%></td>
                </tr>
            </tbody>
            <% end %>
        </table>

         <%= link_to("Add New Address", new_address_path, class: 'action new')%>
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Person ID</th>
                    <th scope="col">Street</th>
                    <th scope="col">Town</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip</th>
                </tr>
            </thead>
            <% @addresses.each do |address| %>
            <tbody>
                <tr>
                <th scope="row"><%= address.person_id%></th>
                <td><%= address.street %></td>
                <td><%= address.town%></td>
                <td><%= address.state%></td>
                <td><%= address.zip%></td>
                </tr>
            </tbody>
            <% end %>
        </table>

        <%= link_to("Add New Email", new_email_path, class: 'action new')%>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Person ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <% @email.each do |email| %>
            <tbody>
                <tr>
                <td><%= email.person_id %></td>
                <td><%= email.email_address %></td>
                <td><%= email.comment%></td>
                </tr>
            </tbody>
            <% end %>
        </table>

         <%= link_to("Add New Phone Number", new_phone_number_path, class: 'action new')%>
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Person ID</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <% @phone_number.each do |phone_number| %>
            <tbody>
                <tr>
                <td><%= phone_number.person_id %></td>
                <td><%= phone_number.phone_number %></td>
                <td><%= phone_number.comment%></td>
                </tr>
            </tbody>
            <% end %>
        </table>
    
</div>
    </body>

    
    
    
   
                 
   
   