<table class="table table-striped">
    <tr>
      <th>Salutation</th>
      <td><%= p.text_field(:salutation)%></td>
    </tr>
    <tr>
      <th>First Name</th>
      <td><%= p.text_field(:first_name)%></td>
    </tr>
    <tr>
      <th>Middle Name</th>
      <td><%= p.text_field(:middle_name)%></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= p.text_field(:last_name)%></td>
    </tr>
    <tr>
      <th>SSN</th>
      <td><%= p.text_field(:ssn)%></td>
    </tr>
    <tr>
      <th>DOB</th>
      <td><%= p.date_field(:dob)%></td>
    </tr>
    <tr>
      <th>Comment</th>
      <td><%= p.text_field(:comment)%></td>
    </tr>
</table>