<h1>Index Page</h1>

<%= link_to('Back to Home', {controller: 'main', action: 'index'}) %><br />

<div>
    <h2>People</h2>
    <h4>Use: Person ID to add corresponding Emais,Addresses, & Phone Numbers</h4>

    <%= link_to("Add New Person", new_person_path, class: 'action new')%>
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Person ID</th>
                    <th scope="col">Salutation</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">SSN</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <% @people.each do |person| %>
            <tbody>
                <tr>
                
                <th scope="row"><%= person.id%></th>
                <td><%= person.salutation %></td>
                <td><%= person.first_name %></td>
                <td><%= person.middle_name%></td>
                <td><%= person.last_name%></td>
                <td><%= person.ssn%></td>
                <td><%= person.dob%></td>
                <td><%= person.comment%></td>
                <td>
                    <%= link_to("Show", person_path(person), class: 'action show')%>
                    <%= link_to("Edit", edit_person_path(person), class: 'action edit')%>
                    <%= link_to("Delete", delete_person_path(person), class: 'action delete')%>
                </td>
                </tr>
            </tbody>
            <% end %>
        </table>
    
</div>

