<table class="table table-striped">
    <tr>
      <th>Person ID</th>
      <td><%= a.number_field(:person_id)%></td>
    </tr>
    <tr>
      <th>Street</th>
      <td><%= a.text_field(:street)%></td>
    </tr>
    <tr>
      <th>Town</th>
      <td><%= a.text_field(:town)%></td>
    </tr>
    <tr>
      <th>Zip</th>
      <td><%= a.number_field(:zip)%></td>
    </tr>
    <tr>
      <th>State</th>
      <td><%= a.text_field(:state)%></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= a.text_field(:country)%></td>
    </tr>
</table>