<h1>Index Page</h1>

<%= link_to('Back to Home', root_path, class: "btn btn-primary") %><br />

<div>
    <h2>Address</h2>

    <%= link_to("Add New Address", new_address_path, class: 'action new btn btn-primary')%>
    
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th scope="col">Street</th>
                    <th scope="col">Town</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <% @addresses.each do |address| %>
            <tbody>
                <tr>
               
                <td><%= address.street %></td>
                <td><%= address.town%></td>
                <td><%= address.state%></td>
                <td><%= address.zip%></td>
                <td><%= address.country%></td>
                <td>
                    <%= link_to("Show", address_path(address), class: 'action show')%>
                    <%= link_to("Edit", edit_address_path(address), class: 'action edit')%>
                    <%= link_to("Delete", delete_address_path(address), class: 'action delete')%>
                </td>
                </tr>
            </tbody>
            <% end %>
        </table>
    
</div>
