
<h1>New Page</h1>
<%= link_to('Back to Home', {controller: 'main', action: 'index'}) %><br />

<div>
    <h2>Create a Address</h2>
    <h4>Person ID corresponds to the Person table</h4>

    <%= form_for(@address) do |a| %>
        <%= render(partial: 'form', locals: {a: a}) %>

        <div>
            <%= javascript_include_tag  'addresses'%>
            <%= a.submit("Create Address", id: "createAddressButton")%>
        </div>

    <% end %>
</div>
